

body {
  background-color:white;
}
.row {
  background-color:lightgray;
  margin:20px;
  min-height:100px;
}
.row > div {
  padding:20px;
  border: 1px solid slategrey;
}

.row >div:first-child {
  font-weight:bold;
  font-size:18px;
}


/* Add your styles below this line */


.p1 {
  color:dodgerblue;
}

#my-p {
  color:red;
}

.p2 {
  font-size:20px;
}

.p3 {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.shrink-image {
  width:100px;
}

.p4 {
  border: solid black 1px;
}

.p5 {
  border: solid black 1px;
  border-radius: 10px;
}

.img-2 {
  border-radius:50%;
}

.p6 {
  background-color:red;
  color:white;
}

.p10 {
  padding:30px 20px;
  background-color:orange;
  color:white;
}

.p12 {
  margin:50px 20px;
  border: solid 1px black;
  background-color:lightyellow;
  color:green;
}

.p8 {
  padding:10px;
  background-color:lightyellow;
  border: solid 1px black;
  margin: 20px;
}

.p9 {
  padding:20px 10px;
  background-color:lightyellow;
  border: solid 1px black;
}

.img-3 {
  box-shadow: 10px 5px 5px black;
}

.s1 {
  color:blue;
}



